.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: rgb(71, 70, 70);
}

.navbar-items-left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 80px;
}

.navbar-items-right {
  display: flex;
  align-items: center;
}

.cart-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  justify-content: center;
}

.cart-icon i {
  font-size: 24px;
  margin-right: 10px;
  position: relative;
  color: rgb(83, 73, 73);
}

.cart-qty {
  font-size: 12px;
  font-weight: bold;
  background-color: #a81010;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  position: absolute;
  top: 20px;
  right: 163px;
}

.navbar-items-right h2 {
  margin: 0 20px;
}

.navbar-items-right button {
  padding: 10px 20px;
  background-color: #a81010;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-items-right button:hover {
  padding: 10px 20px;
  background-color: #c71616;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-items-right a {
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 20px;
}

.sign-in-btn,
.sign-up-btn {
  padding: 10px 20px;
  background-color: #a81010;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  padding: 10px 20px;
  background-color: #cc1919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.profile-icon {
  background-color: #a81010;
  border-radius: 50%;
  padding: 10px;
  color: white;
}

.profile-icon:hover {
  background-color: #cc1919;
}
